.row.app-content
  .col-3
    .container.text-center
      %img.rounded-circle.avatar{src: current_user.avatar_url}
      %h3= current_user

      %span
      %span You are owed
      %h3 $45.60 CAD
    %hr
    .container.text-center
      = link_to "Expenses", root_path, class: "btn btn-outline-info #{'disabled' if @content == 'expenses'}"
      = link_to "Balances", root_path(display: "balances"), class: "btn btn-outline-info #{'disabled' if @content == 'balances'}"

  = render "#{@content}/index"

  .col-3
    .container
      %h4.pad-top Friends
      %hr
      - if current_user.friendships.any?
        %table
          %tbody
            - current_user.friendships.each do |f|
              %tr
                %td
                  .circle
                %td
                  %em= f.friend_to(current_user)
      - else
        %p
          %em You have no friends :(
