.col-6.no-padding
  .header
    %h3 Expenses
    .header-actions
      = link_to "Add a bill", new_expense_path, remote: true, "data-toggle" => "modal", "data-target" => "#modal-window", class: "btn btn-info"
      #modal-window.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog"}
        .modal-dialog{:role => "document"}
          .modal-content

  .container.no-padding
    - if current_user.involved_expenses.any?
      %table.table.payments-list
        %tbody
          - current_user.involved_expenses.sort_by(&:created_at).reverse.each do |expense|
            %tr
              - if expense.kind == "payment"
                %td= expense
                %td
                %td
                %td.date= expense.created_at.strftime("%b %-d")
              - else
                %td
                  %em.small Created by #{expense.creator}
                  %strong= expense
                %td.you-paid
                  %em.small You paid
                  %h5{class: (expense.paid_by(current_user.id) == 0.0 ? 'grey' : 'green') } $#{format("%.2f", expense.paid_by(current_user.id))}
                %td.you-owe
                  %em.small You owe
                  %h5{class: (expense.owed_by(current_user.id) == 0.0 ? 'grey' : 'red') } $#{format("%.2f", expense.owed_by(current_user.id))}
                %td.date
                  %em.small #{expense.people_involved.count} involved
                  = expense.created_at.strftime("%b %-d")

