.container.text-center
  %img.rounded-circle.avatar{src: current_user.avatar_url}
  %h3= current_user

  %span
    %span Your net balance is
  - if current_user.total_owing > 0
    %h3.red $#{format("%.2f", current_user.total_owing)} CAD
  - else
    %h3.green $#{format("%.2f", current_user.total_owing.abs)} CAD
  %span
    Total paid:
    %span
      %strong $#{format("%.2f", current_user.expenses.sum(:amount))}
  %br
  %span
    Total owed:
    %span
      %strong $#{format("%.2f", current_user.debts.sum(:amount))}
