.container.text-center
  %img.rounded-circle.avatar{src: current_user.avatar_url}
  %h3= current_user

  %span
    %span Your net balance is
  - if current_user.total_owing > 0
    %h3.red $#{current_user.total_owing.round(2)} CAD
  - else
    %h3.green $#{current_user.total_owing.abs.round(2)} CAD
  %span
    Total paid:
    %span
      %strong $#{current_user.expenses.sum(:amount).round(2)}
  %br
  %span
    Total owed:
    %span
      %strong $#{current_user.debts.sum(:amount).round(2)}
